@import common
@import instrument
@import inputs
@import knobs
@import buttons
@import vars

div.tr-909
  width: 1226px
  height: 717px
  position: relative
  image-rendering: pixelated
  background: radial-gradient(at 50% 0, rgba(white, 0.25), transparent), linear-gradient(to bottom, darken($COLOR_CHASSIS, 4), darken($COLOR_CHASSIS, 8))
  overflow: hidden
  border-radius: 3px
  box-shadow: 0 8px 8px 0 rgba(black, 0.6), 0 24px 16px 4px rgba(black, 0.4), 0 2px 1px 0 rgba(white, 0.6) inset

  > *
    position: absolute

  &:after
    right: 0
    transform: scale(-1, 1)

  &:before, &:after
    content: ''
    top: 0
    width: 24px
    height: 100%
    background-color: #939188
    position: absolute
    border-right: 1px #646462 solid

  &.template
    background-image: url("../images/template.png")

  > div.roland-logo
    top: 36px
    left: 88px
    width: 204px
    height: 30px
    background-repeat: no-repeat
    background-image: url("../svg/roland.svg")

  > div.tr-909-logo
    top: 190px
    left: 88px
    width: 270px
    height: 35px
    background-repeat: no-repeat
    background-image: url("../svg/tr-909.svg")

  > div.rhythm-composer-logo
    top: 210px
    left: 790px
    width: 332px
    height: 15px
    background-repeat: no-repeat
    background-image: url("../svg/rhythm-composer.svg")

  > div.wrapper-label.cartridge
    transform: translate(962px, 423px)

  > div.wrapper-label.start
    transform: translate(128px, 423px)

  > div.wrapper-label.stop
    transform: translate(192px, 423px)

  > div.action-button-group
    display: grid
    grid-template: 24px 20px 16px 16px / repeat(4, 20px)
    position: absolute
    column-gap: 11px

    &.six
      grid-template: 24px 20px 16px 16px / repeat(6, 20px)

    > *
      position: relative

    > h1, > h2, > span
      margin: 0
      padding: 0
      font-size: 6px
      line-height: 1em
      text-align: center
      color: $COLOR_DARK
      width: 100%
      height: 16px
      align-self: center
      border-radius: 1px
      display: flex
      align-items: center
      justify-content: center
      font-weight: bold

    > span
      align-self: center

    > h2
      background-color: $COLOR_ORANGE
      box-shadow: 0 0 1px 0 rgba(black, 0.1) inset
      line-height: 1em
      display: flex
      align-items: center
      justify-content: center

  > div.wrapper-label.digits
    transform: translate(268px, 423px)
    box-shadow: 0 0 1px 1px rgba(black, 0.8), 0 2px 1px 1px rgba(white, 0.8)

    > svg
      height: 48px

  > svg.scales
    fill: $COLOR_DARK
    width: 920px
    transform: translate(198px, 498px)

  > div.step-button-group
    transform: translate(212px, 576px)
    display: grid
    grid-template-columns: repeat(8, 104px 10px)
    justify-items: center

    > hr
      margin: 0
      padding: 0
      width: 2px
      top: -12px
      height: 66px
      border: none
      background-color: $COLOR_DARK
      position: relative
      border-radius: 1px

    > div.two
      display: grid
      grid-template-columns: repeat(2, 48px)
      column-gap: 8px
      height: 48px

      > *
        position: relative

  > div.func-button-group
    transform: translate(208px, 632px)
    display: grid
    grid-template-columns: repeat(16, 57px)
    align-items: end
    justify-items: center
    background-color: $COLOR_DARK

  > footer
    width: 100%
    height: 32px
    background: linear-gradient(to bottom, transparent, rgba(white, 0.08) 16%, rgba(black, 0.3) 32%)
    bottom: 0
    z-index: 1


div.wrapper-label
  display: flex
  align-items: center
  justify-content: center
  box-sizing: border-box

  > *
    position: relative

  &:before
    content: attr(data-label)
    font-size: 8px
    font-weight: bold
    line-height: 7px
    top: -6px
    left: 50%
    text-align: center
    transform: translate(-50%, -100%)
    position: absolute
    color: $COLOR_DARK
    white-space: pre-wrap

  &:after
    content: attr(data-below)
    font-size: 7px
    font-weight: bold
    line-height: 7px
    bottom: -22px
    left: 50%
    text-align: center
    transform: translate(-50%, -100%)
    position: absolute
    color: $COLOR_DARK
    white-space: nowrap