@import vars

$light: lighten(rgba($COLOR_DARK, 0.7), 30)

@keyframes rotate
  from
    transform: rotate(-150deg) translate(0, -20px)
  to
    transform: rotate(150deg) translate(0, -20px)

.knob-control
  width: 42px
  height: 56px
  position: absolute
  background-image: url("../svg/scale-small.svg")
  background-size: 42px 42px
  background-position: 0 8px
  background-repeat: no-repeat

  &:before
    content: attr(data-label)
    font-size: 7px
    font-weight: bold
    line-height: 10px
    white-space: nowrap
    color: $COLOR_DARK
    left: 50%
    top: 3px
    transform: translate(-50%, -50%)
    position: absolute

  > .knob
    width: 28px
    height: 20px
    border-radius: 0 0 14px 14px
    background: linear-gradient(to right, $light, darken($COLOR_DARK, 5) 30% 70%, $light)
    position: absolute
    transform: translate(7px, 24px)
    box-shadow: 0 0 0 1px darken($COLOR_DARK, 4) inset, 0 4px 4px 0 rgba(black, 0.5)

    &:before
      content: ''
      top: -2px
      left: 13px
      width: 2px
      height: 4px
      border-radius: 0.5px
      position: absolute
      background-color: $COLOR_ORANGE
      transform: rotate(-150deg) translate(0, -11.5px)
      box-shadow: 0 0.5px 0.5px 0 rgba(white, 0.2)
      z-index: 1

    &:after
      content: ''
      top: -14px
      width: 28px
      height: 28px
      border-radius: 14px
      position: absolute
      background: linear-gradient(to bottom, $COLOR_DARK, darken($COLOR_DARK, 2))

  &.big
    width: 82px
    height: 88px
    background-image: url("../svg/scale-big.svg")
    background-size: 82px 82px
    background-position: 0 8px

    &:before
      font-size: 8px

    > .knob
      top: 8px
      width: 54px
      height: 32px
      border-radius: 0 0 27px 27px
      transform: translate(14px, 36px)

      &:before
        top: -7.5px
        left: 26px
        height: 13px
        transform: rotate(-150deg) translate(0, -20px)

      &:after
        top: -28px
        width: 54px
        height: 54px
        border-radius: 27px

  &.minmax-units > span
    top: 86px
    font-size: 7px
    font-weight: bold
    white-space: nowrap
    color: $COLOR_DARK
    position: absolute

    &:first-of-type
      left: 25%
      transform: translate(-100%, 0)

    &:last-of-type
      right: 25%
      transform: translate(100%, 0)