$color: #5b5a57

@keyframes rotate
  from
    transform: rotate(-150deg) translate(0, -20px)
  to
    transform: rotate(150deg) translate(0, -20px)

.knob-control
  width: 42px
  height: 56px
  position: absolute
  background-image: url("../svg/scale.svg")
  background-size: 42px 42px
  background-position: 0 8px
  background-repeat: no-repeat

  &:before
    content: attr(data-label)
    font-size: 7px
    font-weight: 600
    line-height: 10px
    white-space: nowrap
    color: #686c72
    left: 50%
    top: 3px
    transform: translate(-50%, -50%)
    position: absolute

  > .knob
    $light: lighten(rgba($color, 0.7), 30)
    width: 28px
    height: 20px
    border-radius: 0 0 14px 14px
    background: linear-gradient(to right, $light, darken($color, 5) 30% 70%, $light)
    position: absolute
    transform: translate(7px, 24px)
    box-shadow: 0 0 0 1px darken($color, 4) inset, 0 4px 4px 0 rgba(black, 0.5)

    &:before
      content: ''
      top: -2px
      left: 13px
      width: 2px
      height: 4px
      border-radius: 0.5px
      position: absolute
      background-color: #e09043
      transform: rotate(-150deg) translate(0, -11.5px)
      box-shadow: 0 0.5px 0.5px 0 rgba(white, 0.4)
      z-index: 1

    &:after
      content: ''
      top: -14px
      width: 28px
      height: 28px
      border-radius: 14px
      position: absolute
      background: linear-gradient(to bottom, #625f60, darken(#625f60, 2))
      box-shadow: 0 1px 2px 0 rgba(white, 0.04) inset, 0 0 0.5px 1px darken($color, 5)

  &.big
    width: 82px
    height: 82px
    background-image: url("../svg/scale-big.svg")
    background-size: 82px 82px
    background-position: 0 8px

    > .knob
      width: 54px
      height: 40px
      border-radius: 0 0 27px 27px
      transform: translate(14px, 36px)

      &:before
        top: 0.5px
        left: 26px
        height: 13px
        transform: rotate(-150deg) translate(0, -20px)

      &:after
        top: -20px
        width: 54px
        height: 54px
        border-radius: 27px