@import common
@import 909

main
  height: 100%
  display: flex
  align-items: center
  justify-items: center
  --scale: 1
  transform: scale(var(--scale)) rotate(0deg)

  @media (orientation: portrait)
    transform: scale(var(--scale)) rotate(90deg)

div.zoom-control
  left: 8px
  bottom: 8px
  position: absolute
  display: grid
  grid-template-columns: min-content 32px
  column-gap: 4px
  align-items: center

  span.zoom
    font-size: 9px
    white-space: nowrap
    color: rgba(black, 0.5)

  label.zoom
    pointer-events: all
