@import common
@import inputs
@import buttons

main
  height: 100%
  display: flex
  align-items: center
  justify-items: center

  .tr-909
    width: 1226px
    height: 717px
    position: relative
    background-image: url("../images/panel.png")
    image-rendering: pixelated